.child1 {
  padding: 0 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  /* white-space: nowrap; */
  
  margin-top: 40px;
}
.child2{
  height:30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.child3{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button1{
  background-color: transparent;
  border: transparent;
  color: blue;
  font-size: 15px;
  display: flex;
}
.button1:hover{
  background-color: skyblue;
  border-color: black;
  cursor: pointer;
}
.openyt{
  font-size: 5vh;
}
.title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  width: 100%;
  /* text-align: center; */
  display: flex;
  white-space: nowrap;
  align-items:flex-start;
  justify-content:flex-start;
  /* display: inline-block;
  vertical-align: top; */
}
.text {
  color: #777;
  font-size:20px;
  white-space: nowrap;
  padding: 0 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.copyurl{
  color: black;
  text-decoration: underline;
  font-size: 15px;
  font-weight: 600;
  /* padding: 1px 1px; */
  height: 100%;
  width: 100%;
  display: flex;
  text-align:right; 
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #B8F2E3;
  border-radius: 3px;
  margin-bottom: 8px;
  
}
.btn {
  display: block;
  width: 200px;
  padding: 15px 0;
  margin: 0px auto;
  background: Black;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.content {
  text-align: center;
  height: 100%;
}

.urlarea {
  border-radius: 4px;
  display: block;
  width: 250px;
  padding: 15px 0;
  margin: 10px auto;
  border-width: 1px;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  margin-bottom: 20px;
}

.header text {
  position: relative;
  top: 18px;
  left: 10px;
  margin-bottom: 20px;
  float: left;
}

.header{
  justify-content:center;
}

.everything {
  margin: 0 auto;
}


.container {
  display: flex; 
  justify-content: center;
  align-items: center;
}



.textField{
  border-color: aquamarine;
 margin-bottom: 10px;
 display:flex;
 justify-content:center;
 border-color: black;
 border-width: 20px;
}

.invalidtext{
  color: #E85A71;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.hch{
  display:flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 0px;
}

.hchimage{
  border-radius: 50%;
}
.creators{
  display:flex;
  /* flex-wrap: wrap; */
  overflow-x: auto;
  flex-direction: row; 
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* flex-wrap: nowrap; */
  /* justify-content: space-around; */
  /* margin: 30px;
  padding: 5px; */
  /* row-gap: 10px;
  
  column-gap: 10px; */
  /* align-items: center;
  font-size: 16px;  */
}

.aboutInfo h1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30.2px;
  text-align: center;
  /* max-height: 2; */
}
.aboutInfo h3{
  display: flex;
  justify-content: center;
   white-space: nowrap;
  /* flex-wrap:nowrap; */
  font-size: 15px;
}

.tap_to_copy{
  display: flex;
  justify-content: center;
  color:#C0C0C0;
  font-size:8px;
}

.container1 {
 
  position: absolute;
  top: 68%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  
  width: 400px;
  
   display: flex;
  overflow: auto;
  
 
}
.container1::-webkit-scrollbar {    display: none;}

.flex_scroll {
  
  /* padding: 30px 20px; */
  
  display: flex;
  /* flex-direction: row;
  white-space: nowrap;   */
  align-items: center;
  justify-content: center;
  /* white-space: nowrap; */
  flex-wrap: nowrap; 

  
}
.row1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-right: 0px;
  margin-left: 0px;
}
.happy_creators{
  display:flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
  align-items: center;
  font-size: 10px;
  margin: 25px;
  margin-top: 15px;
  
}
@media all and (max-width:453px){
  .aboutInfo h1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 23.2px;
    text-align: center;
    max-height: 2;
  }
  .aboutInfo h3{
    display: flex;
    justify-content: center;
     white-space: nowrap;
    /* flex-wrap:nowrap; */
    font-size: 12.2px;
  }
  .hch{
    display:flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top:70px;
  }
}